
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Speech Recognition
    </title>
<!--    <link rel="stylesheet" href="style1.css">-->
    <link rel="stylesheet" th:href="@{/index-home.css}" />
</head>
<body>
<section>
    <h1>Shop Your<br> Medicines</h1>
    <p>At Medistat</p>
    <div class="container">
        <div class="texts">
            <p> Search Your Medicine</p>
        </div>

        <button type="button" onclick="runSpeechRecognition()">
            <i class="fa-solid fa-microphone mic"> </i></button>
    </div>






</section>


<script src ="./index-home.js"></script>


</body>
</html>