<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Speech to Text</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer">
    <link rel="stylesheet" th:href="@{/index.css}" />
</head>
<body>
<div>
  <div class = "cardbox">
    <div id="output"></div>
  </div>
  <button type="button" onclick="runSpeechRecognition()">
    <i class="fa-solid fa-microphone mic"> </i></button>
        <span id="action"></span>
</div>
<script th:src="@{/index.js}"></script>
</body>
</html>